<!DOCTYPE html>
<html>
    <head>
        <title>Movie Tracker</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
            crossorigin="anonymous">
        <link rel="stylesheet" href="/static/style.css">

    
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
             <div class="container-fluid">
                 <a class="navbar-brand" href="#">Movie Tracker</a> 
                 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"> 
                    <span class="navbar-toggler-icon"></span> 
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse"> 
                    <ul class="navbar-nav me-auto mb-2 mb-md-0"> 
                        <li class="nav-item"> <a class="nav-link active" aria-current="page" href="#">Home</a> </li>
                         <li class="nav-item"> <a class="nav-link" href="#">Link</a> </li> 
                         <li class="nav-item"> <a class="nav-link disabled" aria-disabled="true">Disabled</a> </li>
                         </ul> 
                         <form class="search-form" role="search"> <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> 
                            <button class="btn btn-outline-success" type="submit">Search</button> 
                        </form> 
                        </div> 
                    </div> 
                </nav>
    </head>
    <body>
        <input id="movie-input-field" type="input" class="form-control"
            placeholder="Enter Movie...">
        <button class="btn btn-primary rounded-pill px-3" type="button"
            onclick="enterMovie();">Enter</button>
        <div id="movieList"
            class="list-group list-group-flush border-bottom scrollarea">
            
        </body>
        <script>
    async function enterMovie() {
        const movieInputField = document.getElementById("movie-input-field");
        const movieName = movieInputField.value.trim();
        if (!movieName) {
            console.error("Movie input is empty");
            return;
        }

        const contentToSend = {
            "movieName": movieName
        };
            const response = await fetch('/movie', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(contentToSend)
            });
            movieInputField.value = '';
            await updateMovieList();
    }
    window.addEventListener("DOMContentLoaded", function(event) {
        const movieInputField = document.getElementById("movie-input-field");
        movieInputField.addEventListener("keydown", function(event) {
            if (event.key === "Enter") {
                event.preventDefault();
                enterMovie();
            }
        });
    });

    async function updateMovieList() {
        
            const response = await fetch('/movies', {
                method: 'GET'
            });
            const movies = await response.json();
            const movieList = document.getElementById("movieList");
            movieList.innerHTML = '';

            movies.forEach((movie, index) => {
                movieList.innerHTML += `
                    <div class='list-group-item list-group-item-action py-3 lh-sm'>
                        <div class='d-flex w-100 align-items-center justify-content-between'>
                            <strong class='mb-1'>${movie[1]}</strong>
                            <button class='btn btn-danger btn-sm' onclick='deleteMovie(${movie[0]})'>Delete</button>
                        </div>
                    </div>`;
            });
    }

    async function deleteMovie(id) {
        console.log(`Deleting movie ID: ${id}`);
        const response = await fetch(`/movies/${id}`, {
            method: 'DELETE'
        });
        if (response.status === 204) {
            await updateMovieList();
        } else {
            console.error(`Didnt work: ${responseS.status}`);
        }
    }
    updateMovieList();
</script>